body {
	background-color: #d3d3d3;
}

ul {
    background-color: #add8e6;
    list-style-type: none;
    margin: 0;
    float: 0;
    position: fixed;
    top: 0;
    width: 100%;
}

li {
    float: left;
    border-right: 2px solid white;
}

li a {
    display: block;
    text-align: center;
    padding: 10px 20px;
    text-decoration: none;
}

li a:hover {
	background-color: #9C661F;
}

li:last-child {
    border-right: none;
}