body {
	background-color: #d3d3d3;
}

ul {
    background-color: #00ffff;
    list-style-type: none;
    margin: 0;
    float: 0;

}

li {
    float: left;
}

li a {
    display: block;
    text-align: center;
    padding: 10px 20px;
    text-decoration: none;
}

li a:hover {
	background-color: black;
}