<html>

<head>
	<title>Stylesheet for portfolio</title>
	<style type="text/css">

<div id="menu">
	<ul>
		<li><a href="index.html">Home</a></li>
		<ul><li><a href="aboutus.html">About Us</a></li>
		<li><a href="services.html">Services</a></li>
		<li><a href="contactus.html">Contact Us</a></li>
	</ul>
</div>

</style>
</head>

<body> 
 
 #menu {
    width: 550px;
    height: 35px;
    font-size: 16px;
    font-family: Tahoma, Geneva, sans-serif;
    font-weight: bold;
    text-align: center;
    text-shadow: 3px 2px 3px #333333;
    background-color: #8AD9FF;
        border-radius: 8px;
}

</body> 
</html>
