body {
	background-color: 
}

ol {
    border: 1px solid #e7e7e7;
    background-color: black;
}

li {
    float: left;
}

a {
    display: block;
    padding: 16px;
    background-color: 00ffff;
}

li a {
    display: block;
    color: gray;
    text-align: center;
    padding: 10px 20px;
    text-decoration: none;
}

li a:hover {
	background-color: white;
}